<h1><%= AppSettings[:application_name] %></h1>

<p>Hi <%= @user.first_name %>,</p>

<p> You've requested password reset for your account in <%= AppSettings[:application_name] %>. </p>
<p> Click on the link below to reset your passord: </p>

<%= link_to "Reset", @url %>